:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #222222;
}

* {
    margin: 0;
    padding: 0;

}

.small_desc {
    font-size: 16px;
    color: #777;
}

.big_desc {
    font-size: 48px;
    letter-spacing: 1px;
    @media screen and (max-width: 800px) {
        font-size: 36px;
    }
}


a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: all 0.3s ease;

    &:hover {
        color: #111;

    }
}

.container {
    padding: 96px;
    display: flex;
    flex-direction: column;
    gap: 96px;
    @media screen and (max-width: 800px) {
        padding: 48px;
    }
}

.back_button, .next_button {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    .feather {
        stroke: #444;
        width: 50px;
        height: 50px;
        transition: all 0.3s ease;
    }

    &:hover {
        .feather {
            stroke: #222;
        }
    }
}

.brands_section {
    position: relative;

    .brands_title {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            text-align: center;
            width: 60vw;
        }
    }

    .brands_gallery {
        padding-top: 48px;
        display: flex;
        gap: 70px;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

    }

    .brands_gallery::-webkit-scrollbar {
        display: none;
    }

    .market {
        width: 200px;
        height: 100px;
        object-fit: contain;
    }


    @media screen and (max-width: 800px) {

        .brands_title {
            align-items: start;

            p {
                text-align: start;
                width: initial;
            }
        }

        .brands_gallery {
            gap: 24px;
            padding-top: 12px;
        }

        .brands_gallery img {
            width: 100px;
            height: auto;
            object-fit: contain;
        }
    }
}