:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --background-color: #ffffff;
    --color: #222222;
    --color-1: #111111;
    --color-2: #333333;
    --color-3: #222222;
    --color-header: rgba(255, 255, 255, 0.8);
    color: var(--color);
    background-color: var(--background-color);
}
:root.dark-mode{
    --color: #ffffff;
    --color-1: #444444;
    --background-color: #222222;
    --color-2: #eeeeeeee;
    --color-3: #ffffff;
    --color-header: rgba(34, 34, 34, 0.8);
}

* {
    margin: 0;
    padding: 0;

}

.small_desc {
    font-size: 16px;
    color: #777;
}

.big_desc {
    font-size: 48px;
    letter-spacing: 1px;
    @media screen and (max-width: 800px) {
        font-size: 36px;
    }
}


a {
    text-decoration: none;
    color: var(--color-2);
    font-weight: 500;
    transition: all 0.3s ease;

    &:hover {
        color: var(--color-1);

    }
}

.container {
    padding: 96px;
    display: flex;
    flex-direction: column;
    gap: 96px;
    @media screen and (max-width: 800px) {
        padding: 48px;
    }
}

.back_button, .next_button {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    .feather {
        stroke: var(--color-2);
        width: 50px;
        height: 50px;
        transition: all 0.3s ease;
    }

    &:hover {
        .feather {
            stroke: var(--color-1);
        }
    }
}

.brands_section {
    position: relative;

    .brands_title {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            text-align: center;
            width: 60vw;
        }
    }
    .slider_container{
        overflow: hidden;
    }

    .slider_gallery {
        padding-top: 48px;
        display: flex;
        position: relative;
        left: 0px;
        transition: all 0.3s ease;
        .slide{
            height: 100px;
            aspect-ratio: 16/9;
            padding-right: 50px;
            object-fit: contain;
            &:last-of-type{
                padding-right: 0;
            }
        }

    }


    .market {
        width: 200px;
        height: 100px;
        object-fit: contain;
    }


    @media screen and (max-width: 800px) {

        .brands_title {
            align-items: start;

            p {
                text-align: start;
                width: initial;
            }
        }

        .slider_gallery {
            gap: 24px;
            padding-top: 12px;
        }

        .slider_gallery img {
            width: 100px;
            height: auto;
            object-fit: contain;
        }
    }
}
